* {
    font-size: 30px;
}
h1 {
    text-align: center;
    margin: 20px 0;
}

#calc {
    height: 800px;
    width: 500px;
    margin: 20px auto;
    background-color: rgb(138, 134, 134);
    padding: 10px;
}

#screen { 
    width: 90%;
    height: 10%;
    background-color: rgb(253, 197, 197);
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

#keyboard {
    height: 80%;
    margin: auto;
    background-color: rgb(92, 74, 74);
    display: flex;
    padding: 5px;
}

#numbers {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: space-evenly;
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    background-color: rgb(148, 135, 135);
    border-radius: 10px;
}

#numbers button {
    width: 120px;
    height: 150px; 
    margin: 3px;
}

#zero {
    width: 100%;
    display: flex;
    justify-content: center;
}

#zero button {
    width: 200px;
    height: 50px;
}

#operations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

